body{
    background-image:url(images/bg/冰纹.png);
    
}

table{
    text-align: center;
    border-color: cornflowerblue;
    border-width: 2px;
    box-shadow: 2px 2px snow;
    margin-left: 350px;
    
}

tr,td{
    border-color: solid black;
}
h1{
    text-align: center;
    outline-style: dashed;
    outline-color: lightseagreen;
    outline-width: 5px;
    text-shadow: lightseagreen 2px 2px;
    margin-left: 600px;
    width: 200px;
    margin-block-start: 50px;
}

p{
    text-indent: 30px;
    margin-left: 200px;
    max-width: 1000px;

}

p.dotted{
    outline-style: dotted;
    outline-color: steelblue;
    outline-width: 10px;
    font-size: x-large;
    font-style: italic;
    text-shadow: slategray 0 3px;
}

img{
    width: 500px;
    margin-left: 500px;
    margin-block-start: 50px;
}
img.champion{
    float: right;
    width: 200px;
    border-radius: 30%;
    margin-left: 10px;
  
}
#pic{
    text-align: center;
    font-style: bold;
    color:royalblue;
    text-shadow: snow 2px 2px;
    
}

#footer {
    background-color:skyblue;
    opacity: 0.8;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
   margin-block-start: 100px;	 	 
}